In [1]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import glob
import os

In [2]:
#change the settings for good output
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',20)
pd.set_option('display.max_colwidth',200)

In [3]:
#read the file names and join with its extension (.json)
path = 'C:\Data-Analysis-projects\FC Barcelona Data Analysis\Datasets'
file_name = glob.glob(os.path.join(path,'*.json'))
print(file_name)

['C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20042005-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20052006-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20062007-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20072008-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20082009-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20092010-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20102011-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20112012-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20122013-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20132014-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20142015-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20152016-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20162017-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20172018-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20182019-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20192020-FCBarcelona.json', 'C:\\Data-Analysis-projects\\FC Barcelona Data Analysis\\Datasets\\20202021-FCBarcelona.json']

In [4]:
#read the file in pandas and concatenate them to a single dataframe
dfs = []
for file in file_name:
    df = pd.read_json(file)
    dfs.append(df)
    
fcb = pd.concat(dfs, axis=0, ignore_index=True)

In [8]:
#first 5 data
fcb.head(3)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,68314,2004-12-04,20:00:00.000,"{'competition_id': 11, 'country_name': 'Spain', 'competition_name': 'La Liga'}","{'season_id': 37, 'season_name': '2004/2005'}","{'home_team_id': 217, 'home_team_name': 'Barcelona', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 4953, 'name': 'Frank Rijkaard...","{'away_team_id': 223, 'away_team_name': 'Málaga', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 4994, 'name': 'Gregorio Manzano ...",4,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_version': '2', 'xy_fidelity_version': '2'}",14,"{'id': 1, 'name': 'Regular Season'}","{'id': 342, 'name': 'Camp Nou', 'country': {'id': 214, 'name': 'Spain'}}","{'id': 993, 'name': 'José Omar Losantos', 'country': {'id': 214, 'name': 'Spain'}}"
1,68313,2004-10-24,21:00:00.000,"{'competition_id': 11, 'country_name': 'Spain', 'competition_name': 'La Liga'}","{'season_id': 37, 'season_name': '2004/2005'}","{'home_team_id': 217, 'home_team_name': 'Barcelona', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 4953, 'name': 'Frank Rijkaard...","{'away_team_id': 422, 'away_team_name': 'Osasuna', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 3196, 'name': 'Javier Aguirre O...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_version': '2', 'xy_fidelity_version': '2'}",8,"{'id': 1, 'name': 'Regular Season'}","{'id': 342, 'name': 'Camp Nou', 'country': {'id': 214, 'name': 'Spain'}}","{'id': 994, 'name': 'Vicente José Lizondo Cortés', 'country': {'id': 214, 'name': 'Spain'}}"
2,68316,2005-05-01,19:00:00.000,"{'competition_id': 11, 'country_name': 'Spain', 'competition_name': 'La Liga'}","{'season_id': 37, 'season_name': '2004/2005'}","{'home_team_id': 217, 'home_team_name': 'Barcelona', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 4953, 'name': 'Frank Rijkaard...","{'away_team_id': 608, 'away_team_name': 'Albacete', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 6233, 'name': 'Martín Monteagu...",2,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_version': '2', 'xy_fidelity_version': '2'}",34,"{'id': 1, 'name': 'Regular Season'}","{'id': 342, 'name': 'Camp Nou', 'country': {'id': 214, 'name': 'Spain'}}","{'id': 2535, 'name': 'Carlos Velasco Carballo', 'country': {'id': 214, 'name': 'Spain'}}"

In [6]:
#basic info like the shape, datatypes and null values
fcb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           520 non-null    int64
 1   match_date         520 non-null    object
 2   kick_off           520 non-null    object
 3   competition        520 non-null    object
 4   season             520 non-null    object
 5   home_team          520 non-null    object
 6   away_team          520 non-null    object
 7   home_score         520 non-null    int64
 8   away_score         520 non-null    int64
 9   match_status       520 non-null    object
 10  match_status_360   520 non-null    object
 11  last_updated       520 non-null    object
 12  last_updated_360   520 non-null    object
 13  metadata           520 non-null    object
 14  match_week         520 non-null    int64
 15  competition_stage  520 non-null    object
 16  stadium            520 non-null    object
 17  referee            405 non-null    object
dtypes: int64(4), object(14)
memory usage: 73.2+ KB

> The dataset has 520 matches played with 18 columns information, only referee has missing values and some datatypes need to change

In [7]:
# descriptive statistics
fcb.describe()

           match_id  home_score  away_score  match_week
count  5.200000e+02  520.000000  520.000000  520.000000
mean   3.744410e+05    1.982692    1.500000   19.457692
std    9.194129e+05    1.723041    1.492434   10.777579
min    9.575000e+03    0.000000    0.000000    1.000000
25%    6.915675e+04    1.000000    0.000000   10.000000
50%    6.932250e+04    2.000000    1.000000   20.000000
75%    2.667258e+05    3.000000    2.000000   29.000000
max    3.773695e+06    8.000000    8.000000   38.000000

> We can see the maximum score is 8 goals, minimum is obviously zero, and an average of 2 goals precisely.

In [27]:
#check for duplicates
fcb['match_id'].duplicated().any()

False

In [9]:
#check the competition column
fcb['competition'].value_counts()

{'competition_id': 11, 'country_name': 'Spain', 'competition_name': 'La Liga'}    520
Name: competition, dtype: int64

> it's has only a single value object. it should be discarded

In [11]:
#check the season column
fcb['season'].value_counts()

{'season_id': 26, 'season_name': '2014/2015'}    38
{'season_id': 23, 'season_name': '2011/2012'}    37
{'season_id': 1, 'season_name': '2017/2018'}     36
{'season_id': 90, 'season_name': '2020/2021'}    35
{'season_id': 21, 'season_name': '2009/2010'}    35
{'season_id': 4, 'season_name': '2018/2019'}     34
{'season_id': 2, 'season_name': '2016/2017'}     34
{'season_id': 42, 'season_name': '2019/2020'}    33
{'season_id': 22, 'season_name': '2010/2011'}    33
{'season_id': 27, 'season_name': '2015/2016'}    33
{'season_id': 24, 'season_name': '2012/2013'}    32
{'season_id': 25, 'season_name': '2013/2014'}    31
{'season_id': 41, 'season_name': '2008/2009'}    31
{'season_id': 40, 'season_name': '2007/2008'}    28
{'season_id': 39, 'season_name': '2006/2007'}    26
{'season_id': 38, 'season_name': '2005/2006'}    17
{'season_id': 37, 'season_name': '2004/2005'}     7
Name: season, dtype: int64

> we will retain only the season_name and discard the remaining data

In [14]:
#inspect home team and team
fcb[['home_team','away_team']].sample(3)

,home_team,away_team
348,"{'home_team_id': 213, 'home_team_name': 'Sevilla', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 637, 'name': 'Jorge Luis Sampao...","{'away_team_id': 217, 'away_team_name': 'Barcelona', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 793, 'name': 'Luis Enrique Ma..."
278,"{'home_team_id': 223, 'home_team_name': 'Málaga', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 188, 'name': 'Javier Gracia Carl...","{'away_team_id': 217, 'away_team_name': 'Barcelona', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 793, 'name': 'Luis Enrique Ma..."
141,"{'home_team_id': 395, 'home_team_name': 'Real Zaragoza', 'home_team_gender': 'male', 'home_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 4958, 'name': 'José Aurel...","{'away_team_id': 217, 'away_team_name': 'Barcelona', 'away_team_gender': 'male', 'away_team_group': None, 'country': {'id': 214, 'name': 'Spain'}, 'managers': [{'id': 36, 'name': 'Josep Guardiola ..."

> we will extract home_team_name and home_manager likewise away_team_name and away_team-manager

In [15]:
#inspect match_status
fcb['match_status'].value_counts()

available    520
Name: match_status, dtype: int64

> match status is unique, we will discard it

In [17]:
#inspect match_status_360
fcb['match_status_360'].value_counts()

scheduled     485
available      34
processing      1
Name: match_status_360, dtype: int64

In [18]:
#inspect meta data
fcb['metadata'].value_counts()

{'data_version': '1.1.0', 'shot_fidelity_version': '2', 'xy_fidelity_version': '2'}    465
{'data_version': '1.1.0', 'shot_fidelity_version': '2'}                                 26
{'data_version': '1.0.2', 'shot_fidelity_version': '2'}                                 16
{'data_version': '1.0.3', 'shot_fidelity_version': '2'}                                 13
Name: metadata, dtype: int64

> Not important for our analysis

In [19]:
#inspect competition stage
fcb['competition_stage'].value_counts()

{'id': 1, 'name': 'Regular Season'}    520
Name: competition_stage, dtype: int64

> has unique values, it shall be discarded

In [20]:
#inspect stadium
fcb['stadium'].value_counts()

{'id': 342, 'name': 'Camp Nou', 'country': {'id': 214, 'name': 'Spain'}}                                262
{'id': 361, 'name': 'Estadio de la Cerámica', 'country': {'id': 214, 'name': 'Spain'}}                   15
{'id': 353, 'name': 'Estadio Santiago Bernabéu', 'country': {'id': 214, 'name': 'Spain'}}                15
{'id': 344, 'name': 'Estadio de Mestalla', 'country': {'id': 214, 'name': 'Spain'}}                      15
{'id': 349, 'name': 'Estadio Ramón Sánchez Pizjuán', 'country': {'id': 214, 'name': 'Spain'}}            14
{'id': 5043, 'name': 'Reale Arena', 'country': {'id': 214, 'name': 'Spain'}}                             12
{'id': 354, 'name': 'Coliseum Alfonso Pérez', 'country': {'id': 214, 'name': 'Spain'}}                   11
{'id': 625, 'name': 'Estadio Vicente Calderón', 'country': {'id': 214, 'name': 'Spain'}}                 11
{'id': 351, 'name': 'RCDE Stadium', 'country': {'id': 214, 'name': 'Spain'}}                             10
{'id': 352, 'name': 'Estadio Benito Villamarín', 'country': {'id': 214, 'name': 'Spain'}}                10
{'id': 350, 'name': 'Estadio Ciudad de Valencia', 'country': {'id': 214, 'name': 'Spain'}}               10
{'id': 4658, 'name': 'Estadio Abanca-Riazor', 'country': {'id': 214, 'name': 'Spain'}}                    8
{'id': 4650, 'name': 'Estadio El Sadar', 'country': {'id': 214, 'name': 'Spain'}}                         8
{'id': 622, 'name': 'Estadio Municipal José Zorrilla', 'country': {'id': 214, 'name': 'Spain'}}           8
{'id': 653, 'name': 'Abanca-Balaídos', 'country': {'id': 214, 'name': 'Spain'}}                           8
{'id': 4667, 'name': 'Estadio Nuevo Los Cármenes', 'country': {'id': 214, 'name': 'Spain'}}               7
{'id': 346, 'name': 'Estadio La Rosaleda', 'country': {'id': 214, 'name': 'Spain'}}                       7
{'id': 4636, 'name': 'Campos de Sport de El Sardinero', 'country': {'id': 214, 'name': 'Spain'}}          6
{'id': 345, 'name': 'San Mamés Barria', 'country': {'id': 214, 'name': 'Spain'}}                          6
{'id': 4457, 'name': 'Estadio de la Romareda', 'country': {'id': 214, 'name': 'Spain'}}                   6
{'id': 4454, 'name': 'Visit Mallorca Estadi', 'country': {'id': 214, 'name': 'Spain'}}                    6
{'id': 347, 'name': 'Estadio Municipal de Ipurúa', 'country': {'id': 214, 'name': 'Spain'}}               6
{'id': 4656, 'name': 'Estadio Municipal El Molinón', 'country': {'id': 214, 'name': 'Spain'}}             5
{'id': 348, 'name': 'Estadio de Mendizorroza', 'country': {'id': 214, 'name': 'Spain'}}                   5
{'id': 4637, 'name': 'Estadio San Mamés', 'country': {'id': 214, 'name': 'Spain'}}                        5
{'id': 4640, 'name': 'Estadio de Vallecas', 'country': {'id': 214, 'name': 'Spain'}}                      5
{'id': 4657, 'name': 'Estadio de los Juegos Mediterráneos', 'country': {'id': 214, 'name': 'Spain'}}      5
{'id': 4654, 'name': 'Estadio Wanda Metropolitano', 'country': {'id': 214, 'name': 'Spain'}}              4
{'id': 355, 'name': 'Estadio Municipal de Butarque', 'country': {'id': 214, 'name': 'Spain'}}             4
{'id': 4635, 'name': 'Estadi Olímpic Lluís Companys', 'country': {'id': 214, 'name': 'Spain'}}            4
{'id': 4638, 'name': 'Estadio Nuevo Colombino', 'country': {'id': 214, 'name': 'Spain'}}                  3
{'id': 357, 'name': 'Estadio de Gran Canaria', 'country': {'id': 214, 'name': 'Spain'}}                   3
{'id': 343, 'name': 'Estadi Municipal de Montilivi', 'country': {'id': 214, 'name': 'Spain'}}             2
{'id': 4662, 'name': 'Estadio Nuevo Mirandilla', 'country': {'id': 214, 'name': 'Spain'}}                 2
{'id': 4665, 'name': 'Estadio Manuel Martínez Valero', 'country': {'id': 214, 'name': 'Spain'}}           2
{'id': 624, 'name': 'Estadio El Alcoraz', 'country': {'id': 214, 'name': 'Spain'}}                        1
{'id': 4660, 'name': 'Estadio José Rico Pérez', 'country': {'id': 214, 'name': 'Spain'}}                  1
{'id': 4653, 'name': 'Estadio Nuevo Arcángel', 'country': {'id': 214, 'name': 'Spain'}}                   1
{'id': 4639, 'name': 'Estadio Municipal de Chapín', 'country': {'id': 214, 'name': 'Spain'}}              1
{'id': 4655, 'name': 'Estadio Heliodoro Rodríguez Lopéz', 'country': {'id': 214, 'name': 'Spain'}}        1
{'id': 4652, 'name': 'Los Pajaritos', 'country': {'id': 214, 'name': 'Spain'}}                            1
{'id': 4448, 'name': 'Estadio Carlos Belmonte', 'country': {'id': 214, 'name': 'Spain'}}                  1
{'id': 4455, 'name': 'Nou Estadi de Tarragona', 'country': {'id': 214, 'name': 'Spain'}}                  1
{'id': 52894, 'name': '	Estadio Enrique Roca de Murcia', 'country': {'id': 214, 'name': 'Spain'}}         1
{'id': 5341, 'name': 'Estadio Alfredo Di Stéfano', 'country': {'id': 214, 'name': 'Spain'}}               1
Name: stadium, dtype: int64

> we will extract only the stadium name

In [21]:
#inspect referee
fcb['referee'].value_counts()

{'id': 221, 'name': 'Alberto Undiano Mallenco', 'country': {'id': 214, 'name': 'Spain'}}               33
{'id': 180, 'name': 'Antonio Miguel Mateu Lahoz', 'country': {'id': 214, 'name': 'Spain'}}             32
{'id': 222, 'name': 'David Fernández Borbalan', 'country': {'id': 214, 'name': 'Spain'}}               30
{'id': 1008, 'name': 'Carlos Clos Gómez', 'country': {'id': 214, 'name': 'Spain'}}                     20
{'id': 1003, 'name': 'Fernando Teixeira', 'country': {'id': 214, 'name': 'Spain'}}                     20
{'id': 211, 'name': 'José Luis González González', 'country': {'id': 214, 'name': 'Spain'}}            19
{'id': 183, 'name': 'Jesús Gil Manzano', 'country': {'id': 214, 'name': 'Spain'}}                      19
{'id': 1001, 'name': 'Miguel Pérez', 'country': {'id': 214, 'name': 'Spain'}}                          17
{'id': 2535, 'name': 'Carlos Velasco Carballo', 'country': {'id': 214, 'name': 'Spain'}}               17
{'id': 997, 'name': 'César Muñiz', 'country': {'id': 214, 'name': 'Spain'}}                            16
{'id': 999, 'name': 'Eduardo Iturralde Gonzalez', 'country': {'id': 214, 'name': 'Spain'}}             15
{'id': 1012, 'name': 'Carlos Delgado', 'country': {'id': 214, 'name': 'Spain'}}                        14
{'id': 218, 'name': 'Ignacio Iglesias Villanueva', 'country': {'id': 214, 'name': 'Spain'}}            13
{'id': 1004, 'name': 'Turienzo', 'country': {'id': 214, 'name': 'Spain'}}                              12
{'id': 1009, 'name': 'Miguel Ayza', 'country': {'id': 214, 'name': 'Spain'}}                           11
{'id': 1016, 'name': 'José Teixeira', 'country': {'id': 214, 'name': 'Spain'}}                          9
{'id': 1015, 'name': 'Pedro Jesús Pérez Montero', 'country': {'id': 214, 'name': 'Spain'}}              8
{'id': 1007, 'name': 'Alfonso Perez Burrull', 'country': {'id': 214, 'name': 'Spain'}}                  8
{'id': 1013, 'name': 'José Paradas', 'country': {'id': 214, 'name': 'Spain'}}                           7
{'id': 1000, 'name': 'Rafael Ramírez Domínguez', 'country': {'id': 214, 'name': 'Spain'}}               7
{'id': 2608, 'name': 'Alejandro José Hernández Hernández', 'country': {'id': 214, 'name': 'Spain'}}     5
{'id': 2728, 'name': 'Carlos del Cerro Grande', 'country': {'id': 214, 'name': 'Spain'}}                5
{'id': 2699, 'name': 'Manuel Enrique Mejuto Gonzalez', 'country': {'id': 214, 'name': 'Spain'}}         5
{'id': 996, 'name': 'Carlos Megía Dávila', 'country': {'id': 214, 'name': 'Spain'}}                     5
{'id': 1011, 'name': 'Luis Medina Cantalejo', 'country': {'id': 214, 'name': 'Spain'}}                  5
{'id': 1010, 'name': 'Antonio Rubinos Perez', 'country': {'id': 214, 'name': 'Spain'}}                  5
{'id': 1006, 'name': 'Julian Rodriguez Santiago', 'country': {'id': 214, 'name': 'Spain'}}              4
{'id': 2602, 'name': 'Ricardo De Burgos Bengoetxea', 'country': {'id': 214, 'name': 'Spain'}}           4
{'id': 1002, 'name': 'Bernardino Gonzalez', 'country': {'id': 214, 'name': 'Spain'}}                    4
{'id': 998, 'name': 'Arturo Daudén Ibáñez', 'country': {'id': 214, 'name': 'Spain'}}                    4
{'id': 2609, 'name': 'José Luis Munuera Montero', 'country': {'id': 214, 'name': 'Spain'}}              3
{'id': 2625, 'name': 'José María Sánchez Martínez', 'country': {'id': 214, 'name': 'Spain'}}            3
{'id': 2434, 'name': 'Juan Martínez Munuera', 'country': {'id': 214, 'name': 'Spain'}}                  3
{'id': 994, 'name': 'Vicente José Lizondo Cortés', 'country': {'id': 214, 'name': 'Spain'}}             3
{'id': 2402, 'name': 'Guillermo Cuadra Fernández', 'country': {'id': 214, 'name': 'Spain'}}             3
{'id': 866, 'name': 'Jorge Figueroa Vázquez', 'country': {'id': 214, 'name': 'Spain'}}                  2
{'id': 2575, 'name': 'Santiago Jaime Latre', 'country': {'id': 214, 'name': 'Spain'}}                   2
{'id': 995, 'name': 'Puentes Leira', 'country': {'id': 214, 'name': 'Spain'}}                           2
{'id': 2419, 'name': 'Eduardo Prieto Iglesias', 'country': {'id': 214, 'name': 'Spain'}}                2
{'id': 2470, 'name': 'César Soto Grado', 'country': {'id': 214, 'name': 'Spain'}}                       2
{'id': 2692, 'name': 'Mario Melero López', 'country': {'id': 214, 'name': 'Spain'}}                     1
{'id': 993, 'name': 'José Omar Losantos', 'country': {'id': 214, 'name': 'Spain'}}                      1
{'id': 2493, 'name': 'Pablo González Fuertes', 'country': {'id': 214, 'name': 'Spain'}}                 1
{'id': 2559, 'name': 'Adrián Cordero Vega', 'country': {'id': 214, 'name': 'Spain'}}                    1
{'id': 2624, 'name': 'Daniel Jesús Trujillo Suárez', 'country': {'id': 214, 'name': 'Spain'}}           1
{'id': 1005, 'name': 'Victor José Esquinas Torres', 'country': {'id': 214, 'name': 'Spain'}}            1
{'id': 2634, 'name': 'Isidro Díaz de Mera Escuderos', 'country': {'id': 214, 'name': 'Spain'}}          1
Name: referee, dtype: int64

> we will extract only the referee name

### Assessment
1. match_date, kick_off should be datetime
2. competition, competition_stafe, and match_status are unique (not important for our analysis)
3. season should have only the season_name (For example, 2004/2005)
4. home_team should consist only home_team name, also we can extract home_team manager from it.
5. away_team should consist only away_team name, also we can extract away_team manager from it.
6. last_updated, last_updated_360, and meta_data not needed
7. stadium should contain only the stadium_name
8. referee should contain only the referee_name.
9. create new column 'match_outcome' that have values of win, draw, lose for FCB.